{% extends "index.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<h1>About Me</h1>
<p>I have decided to learn Python through a hands-on approach by working on a practical project.</p>
<p>Currently, I am building a static site using Python, which involves several steps. At this stage, I am focusing on creating HTML templates and writing a Python script to develop a static site generator (SSG). This process allows me to explore Python's capabilities while understanding the workflow of generating static websites programmatically.</p>
{% endblock %}
